@model hnc_diaz.Models.InfoHnc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InfoHnc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculaInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInfo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
